<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="unity"
              type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
               Microsoft.Practices.Unity.Configuration, Version=1.1.0.0,
               Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <unity>

    <typeAliases>

      <!-- Lifetime manager types -->
      <typeAlias alias="singleton"
           type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
             Microsoft.Practices.Unity" />
      <typeAlias alias="external"
           type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
             Microsoft.Practices.Unity" />

      <!-- Custom object types -->
      <typeAlias alias="IMyInterface"
           type="MyObjects.IMyInterface, MyObjects" />
      <typeAlias alias="MyRealObject"
           type="MyObjects.MyRealObject, MyObjects" />
      <typeAlias alias="MyOtherObject"
           type="MyObjects.MyOtherObject, MyObjects" />
      <typeAlias alias="ILogger"
           type="MyObjects.ILogger, MyObjects" />
      <typeAlias alias="MyLogger"
           type="MyObjects.MyLogger, MyObjects" />
      <typeAlias alias="MyFastLogger"
           type="MyObjects.MyFastLogger, MyObjects" />

    </typeAliases>

    <containers>

      <container name="containerOne">

        <types>
          
          <!-- Default (un-named) mapping for IMyInterface to MyRealObject-->
          <type type="IMyInterface" mapTo="MyRealObject" />

          <!-- Default (un-named) mapping for ILogger to MyLogger -->
          <type type="ILogger" mapTo="MyLogger">
            <lifetime type="singleton" />
          </type>

          <!-- Named mapping for ILogger to StandardLogger-->
          <type type="ILogger" mapTo="MyLogger" name="StandardLogger">
            <lifetime type="singleton" />
          </type>

          <!-- Named mapping for ILogger to SuperFastLogger-->
          <type type="ILogger" mapTo="MyFastLogger" name="SuperFastLogger">
            <lifetime type="external" />
          </type>

        </types>

      </container>

    </containers>

  </unity>

<appSettings/>
<connectionStrings/>
<system.web>
	<compilation debug="true" strict="false" explicit="true"/>
	<pages>
		<namespaces>
			<clear/>
			<add namespace="System"/>
			<add namespace="System.Collections"/>
			<add namespace="System.Collections.Specialized"/>
			<add namespace="System.Configuration"/>
			<add namespace="System.Text"/>
			<add namespace="System.Text.RegularExpressions"/>
			<add namespace="System.Web"/>
			<add namespace="System.Web.Caching"/>
			<add namespace="System.Web.SessionState"/>
			<add namespace="System.Web.Security"/>
			<add namespace="System.Web.Profile"/>
			<add namespace="System.Web.UI"/>
			<add namespace="System.Web.UI.WebControls"/>
			<add namespace="System.Web.UI.WebControls.WebParts"/>
			<add namespace="System.Web.UI.HtmlControls"/>
		</namespaces>
	</pages>
	<authentication mode="Windows"/>
</system.web>
</configuration>
